<form asp-action="Index">
    <label>PersonID</label>
    <Input type="text" name="PersonID">
    <label>FullName</label>
    <Input type="text" name="Fullname">
    <label>Luong</label>
    <Input type="text" name="luong">
    <Input type="submit" name="gui">
</form>
@ViewBag.thongbao