<form asp-action="Index">
    <label>Full name</label>
    <input type="text" name="Name" placeholder="Nhap ten">
    <input type="email" name="email" placeholder="Nhap email">
    <input type="submit"  >
</form>
@ViewBag.thongbao